
    .projectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
    gap: 10px 20px;
    margin: 0 auto;
}
.card {
    padding: 13px;
    width: 300px;
    box-shadow: 0 0 30px #ccc;
    text-align: center;
    
}

.skills{
    margin: 3px;
    font-weight: 700;
}

.skillContainer{
    margin-bottom: 10px;
}

.projectLink{
    margin: 0 10px;
}
.cardIcon{
    width: 30px;
    height: 30px;
    color: gray;
    
    
}
.icon--hover:hover{
    color: blue;
}
.card:hover{
    transform: scale(1.1);
    
}