.skillCard{
    max-width: 450px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    transition: 1s;
}
.skill-item{

    background-color: #fff;
    border: 0;
    box-shadow: 0 0 30px #ccc;}
.btn-item{
    cursor: pointer;
    display: block;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0.5em;
    padding: 0.8em 1.4em;
}
.skill-item:hover{
    transform: scale(1.1);
}